@font-face {
    font-family: 'fontello';
    src: url('../font/fontello-821a9224-84140622.eot');
    src: url('../font/fontello-821a9224-84140622.eot#iefix') format("embedded-opentype"), url('../font/fontello-70561ea6-84140622.woff') format("woff"), url('../font/fontello-2ddc5d7b-84140622.ttf') format("truetype"), url('../font/fontello-d213a053-84140622.svg#fontello') format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ink:before {
    content: '\e800'
}

.icon-scroll:before {
    content: '\e801'
}

.icon-diamond:before {
    content: '\e802'
}

.icon-ghost:before {
    content: '\e803'
}

.icon-mug-tools-small:before {
    content: '\e804'
}

.icon-books-small:before {
    content: '\e805'
}

.icon-check-in-box:before {
    content: '\e806'
}

.icon-ghost-small:before {
    content: '\e807'
}

.icon-pause:before {
    content: '\e808'
}

.icon-mug-small:before {
    content: '\e809'
}

.icon-mailbox-small:before {
    content: '\e80a'
}

.icon-speaker-small:before {
    content: '\e80b'
}

.icon-speaker:before {
    content: '\e80c'
}

.icon-block-small:before {
    content: '\e80d'
}

.icon-pencil:before {
    content: '\e80e'
}

.icon-arrow-down:before {
    content: '\e80f'
}

.icon-filament:before {
    content: '\e810'
}

.icon-instagramm:before {
    content: '\e811'
}

.icon-dribbble:before {
    content: '\e812'
}

.icon-impress-small:before {
    content: '\e813'
}

.icon-linkedin-squared:before {
    content: '\e814'
}

.icon-youtube-play:before {
    content: '\e815'
}

.icon-circle:before {
    content: '\e816'
}

.icon-play-1:before {
    content: '\e817'
}

.icon-pause-2:before {
    content: '\e818'
}

.icon-printer:before {
    content: '\e819'
}

.icon-home:before {
    content: '\e81a'
}

.icon-mission-driven:before {
    content: '\e81b'
}

.icon-graph:before {
    content: '\e81c'
}

.icon-wrench:before {
    content: '\e81d'
}

.icon-strategy:before {
    content: '\e81e'
}

.icon-research:before {
    content: '\e81f'
}

.icon-block:before {
    content: '\e820'
}

.icon-mug:before {
    content: '\e821'
}

.icon-rounded-x:before {
    content: '\e822'
}

.icon-mug-tools:before {
    content: '\e823'
}

.icon-mailbox:before {
    content: '\e824'
}

.icon-impress:before {
    content: '\e825'
}

.icon-hat-mustache:before {
    content: '\e826'
}

.icon-down-arrow-thin:before {
    content: '\e827'
}

.icon-cutout-arrow-right:before {
    content: '\e828'
}

.icon-cutout-arrow-left:before {
    content: '\e829'
}

.icon-compass:before {
    content: '\e82a'
}

.icon-chart:before {
    content: '\e82b'
}

.icon-bullseye:before {
    content: '\e82c'
}

.icon-book-bookmark:before {
    content: '\e82d'
}

.icon-location:before {
    content: '\e82e'
}

.icon-camera:before {
    content: '\e82f'
}

.icon-signs:before {
    content: '\e830'
}

.icon-right-open-big:before {
    content: '\e831'
}

.icon-mobile:before {
    content: '\e832'
}

.icon-left-open-big:before {
    content: '\e833'
}

.icon-facebook-squared:before {
    content: '\e834'
}

.icon-twitter:before {
    content: '\e835'
}

.icon-books:before {
    content: '\e836'
}

.icon-tetris:before {
    content: '\e837'
}

.icon-speaker-circled:before {
    content: '\e838'
}

.icon-objective:before {
    content: '\e839'
}

.icon-ok:before {
    content: '\e83a'
}

.icon-bookmark:before {
    content: '\e83b'
}